<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


	<style>
		body{
			margin: 1em;
			padding: 0;
			font-family: sans-serif;
		}

		.color-red{
			color: red;
		}
		.color-blue{
			color: blue;
		}
		.is-loading{
			background-color: red;
		}
	</style>
</head>
<body>
	<!-- Bind to HTML element -->
		<div id="root" class="container">
		
			<div class="columns is-gapless">
				<div class="column">
					<div class="field">
						 
						  <div class="control">
						    <input class="input" type="text" placeholder="Add a New Task" v-model="newTask">
						  </div>
						</div>
						
						

				</div>
				<div class="column">
					<div class="field is-grouped">
						  <div class="control">
						    <button class="button is-link" @click="addTask">Add Task</button>
						  </div>
				</div>
			</div>
		</div>
						
			<h1 class="is-size-3">Incomplete Tasks</h1>
			
				
				<ul>

				<li v-for='task in incompleted' class="is-size-5">
					{{task.description}}
				<i class="fas fa-check fa-lg" @click="markCompleted(task)"></i>
				</li> 
					
			</ul>
			<h1 class="is-size-3">Completed Tasks</h1>
			<ul>
				<li v-for="task in completed">
					{{task.description}}
				</li>
			</ul>

		</div>
			<div>
			</div>
		<script>
		

	

		const app = new Vue
		({
			// Where the Vue App is mounted to. 
			el: '#root',

			// Source of All data. 
			data: {
				newTask: '',
				message: 'Hello',
				tasks:[],

			},

			computed: {
				
				incompleted(){
					return this.tasks.filter(task => ! task.completed);
				},
				completed(){
					return this.tasks.filter(task => task.completed);
				}

			},

			// All Methods need to be in a Methods Object. 
			methods:{
				markCompleted(task){
					task.completed = true;

				},
				addTask(){
					const newTask = this.newTask;
					
					this.tasks.push(
					{
						description: newTask,
						completed: false
					});

					this.newTask = '';
				}

			}
		})


	</script>
</body>
</html>